# Ignore everything
*
# But Not all these
!.Xresources
!.autostart
!.tmux.conf
!.config/i3/blocks/i3blocks.conf
!.config/i3/blocks/i3blockmon2.conf
!.config/i3/blocks/scripts/active
!.config/i3/blocks/scripts/bandwidth
!.config/i3/blocks/scripts/battery
!.config/i3/blocks/scripts/cpp/active.cpp
!.config/i3/blocks/scripts/cpp/bandwidth.cpp
!.config/i3/blocks/scripts/cpp/battery.cpp
!.config/i3/blocks/scripts/cpp/layout.cpp
!.config/i3/blocks/scripts/cpp/memory.cpp
!.config/i3/blocks/scripts/cpp/playerctl.cpp
!.config/i3/blocks/scripts/cpp/updates.cpp
!.config/i3/blocks/scripts/cpp/uptime.cpp
!.config/i3/blocks/scripts/go/bandwidth.go
!.config/i3/blocks/scripts/keystate
!.config/i3/blocks/scripts/layout
!.config/i3/blocks/scripts/memory
!.config/i3/blocks/scripts/playerctl
!.config/i3/blocks/scripts/updates
!.config/i3/blocks/scripts/uptime
!.config/i3/config
!.config/compton/compton.conf
!.config/nvim/init.vim
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/ranger/scope.sh
!.packages
!.zshf/conf
!.zshf/fr
!.zshf/k
!.zshf/update_root_configs
!.zshrc
!Pictures/br.jpg
!Pictures/br2.jpg
!README.md

