XTerm.termName: xterm-256color

XTerm.vt100.metaSendsEscape: true

! History
XTerm.vt100.saveLines: 100000

XTerm*forceBoxChars: true
XTerm*dynamicColors: true
XTerm*visualBell: off
XTerm*highlightSelection: true

! Encoding
XTerm*utf8: True
XTerm*locale: True
XTerm*utf8Title: True
XTerm*renderFont: True
XTerm*preeditType: Root
XTerm*xftAntialias: true
XTerm.vt100.locale: true

XTerm*faceName: Hack:style=Regular:size=11
XTerm.vt100.faceName: Hack:style=Regular:size=11
XTerm.vt100.font: Hack:style=Regular:size=11
XTerm.boldFont: Hack:style=Bold:size=11
XTerm.italicFont: Hack:style=Italic:size=11

Xcursor.size: 24
Xcursor.theme: OpenZone_Black_Slim

! Trim trailing spaces
XTerm*trimSelection: true

! Copy & Paste Keys
XTerm*VT100.Translations: #override \
  Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

! Colors
*.foreground: #d8dee9
*.background: #2e3440
*.cursorcolor: #d8dee9
*fading: 35
*fadecolor: #4c566a

*.color0: #3b4252
*.color1: #bf616a
*.color2: #88c0d0
*.color3: #8fbcbb
*.color4: #81a1c1
*.color5: #b48ead
*.color6: #88c0d0
*.color7: #e5e9f0
*.color8: #4c566a
*.color9: #bf616a
*.color10: #88c0d0
*.color11: #8fbcbb
*.color12: #81a1c1
*.color13: #b48ead
*.color14: #8fbcbb
*.color15: #eceff4
