* {
  border: none;
  border-radius: 0;
  font-family: Hack, sans-serif;
  font-size: 11px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: #24283b;
  color: #c0caf5;
}

#workspaces button {
  background: #24283b;
  color: #a9b1d6;
}

#workspaces button.active {
  background: #414868;
  color: #c0caf5;
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: #7aa2f7;
  font-weight: bold;
  color: #24283b;
}

#language {
  font-weight: bold;
  color: #7aa2f7;
}

#custom-imguipm {
  font-size: 15px;
}

#custom-audio,
#custom-bandwidth,
#custom-memory,
#custom-network,
#language,
#custom-updates,
#custom-battery-ups_hiddev,
#custom-battery-battery_ps_controller,
#custom-imguipm {
  margin: 0 3px;
}
