* {
  border: none;
  border-radius: 0;
  font-family: Hack, sans-serif;
  font-size: 11px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: #2E3440;
  color: #88C0D0;
}

#workspaces button {
  background: #2E3440;
  color: #88C0D0;
}

#workspaces button.active {
  background: #3B4252;
  color: #88C0D0;
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: #BF616A;
  font-weight: bold;
  color: #2E3440;
}

#language {
  font-weight: bold;
}

#custom-hyprsysctl {
  font-size: 15px;
}

#custom-i3_bandwidth,
#custom-i3_memory,
#custom-i3_network,
#language,
#custom-i3_updates,
#custom-hyprsysctl {
  margin: 0 3px;
}
