configuration {
  modi: "drun,run,window";
  font: "Hack 10";
  show-icons: true;
  terminal: "xterm";
  case-sensitive: false;
}
@theme "nord"
window {
  padding: 0;
  width: 300;
  lines: 10;
  show-matching: true;
}
